<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igniva.qwer">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- GCM PERMISSIONS END -->
    <application
        android:name=".utils.Global"
        android:allowBackup="true"
        android:icon="@drawable/tongy_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.PrivacyPolicyActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Goolge Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAoWUe2T8HWV-eVZU-NR4eFweT2f46e7KY" />

        <!-- GCM END -->
        <!-- Defining Services -->
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.twilio.client.TwilioClientService"
            android:exported="false"
            android:stopWithTask="true" />
        <service
            android:name=".controller.TwilioVoiceCallRecieveService"
              />

        <!-- Facebook provider -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider151336828938111"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Facebook activity -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activities.MyProfileActivity"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ui.activities.twilio_chat.MainChatActivity"
             android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TwilioVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.voice.TwilioVoiceClientActivity"
            android:screenOrientation="portrait"
             android:launchMode="singleTop"/>
          <activity
            android:name=".ui.activities.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MyFavActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MyPostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.WalkThroughActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TermsandConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AboutTongyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.SetPreferrencesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.NoResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ChangeEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CreateNewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CreateTeachingPostActivity"
            android:label="@string/title_activity_create_teaching_post"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LocationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.CreateOtherPostActivity"
            android:label="@string/title_activity_create_other_post"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.PostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activities.OtherUserProfileActivity"
            android:label="@string/title_activity_other_user_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activities.ConnectionAcceptedActivity"
            android:label="@string/title_activity_connection_accepted"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>